gitignore
# Python bytecode & caches
__pycache/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv

# Environment variables & secrets
.env

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs & databases
*.log
db.sqlite3

# Misc tools
.ipynb_checkpoints
.mypy_cache/
.ruff_cache/